# =========================================
# (c) 2025 David SPORN,
# SPDX-License-Identifier: GPL-3.0-or-later
# -----------------------------------------
#
# Configuration file for the 'build-debian--*' scripts
export BASE_IMAGE_NAME="localhost/debian-based--abstract--pulsar-edit--debian"
export BASE_IMAGE_VERSION="0.1.0"
export RELEASE_SUFFIX="debian"
