# =========================================
# (c) 2025 David SPORN,
# SPDX-License-Identifier: GPL-3.0-or-later
# -----------------------------------------
#
# Configuration file for the 'build-ubuntu--*' scripts
export BASE_IMAGE_NAME="localhost/abstract--cpp-dev--ubuntu-24.04"
export BASE_IMAGE_VERSION="0.2.2"
export RELEASE_SUFFIX="ubuntu"
